@model CodingDocs.Models.ViewModels.CreateProjectViewModel
 
 <form id="myForm">
    <div id="CreateProjectForm">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

        @Html.LabelFor(m => m.Type)
        @Html.DropDownListFor(m => m.Type, (List<SelectListItem>)ViewBag.Types)
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}