@model List<CodingDocs.Models.ViewModels.ProjectViewModel>

@{
    ViewBag.Title = "My Projects";
}

<link href="~/Content/Homepage.css" rel="stylesheet" type="text/css">

<div class="myAndShare">
    <div class="btn-group">
        <button type="button" class="btn breadcrumb">MyProject</button> 
        <button type="button" class="btn breadcrumb">@Html.ActionLink("Shared Projects", "SharedProjects", "Project", new {@class="link1" })</button>
    </div>
</div>
<div class="row bottom30">
    <div class="col-md-12">
        <button class="CreateProject pull-right">Create a project</button>
    </div>
</div>



<section id="myprojectForm">
    @foreach (var proj in Model)
    {
        <div class="col-sm-4">
            <div class="panel panel-default">
                <a href="@Url.Action("ViewProject", "Project",  new { id = proj.ID })" title="Coding Docs"><img src="~/Content/images/mappa.png" hight="220" width="200" alt="meppa" /></a>
                <br />
                <label class="folderName">@Html.ActionLink(proj.Name, "ViewProject", new { id = proj.ID })</label>
                <br />
                @Html.ActionLink("Delete", "DeleteProject", new { id = proj.ID }, new { style = "color:red" })
            </div>
        </div>
    }
</section>

<div id="CreateProjectForm"></div>


@section Scripts{
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    
    <link rel="stylesheet" href="~/Content/jquery-ui.css" />
 
    <script>
         $(function () {
             $("#CreateProjectForm").dialog({
                 autoOpen: false
             }); 
             $('.CreateProject').on('click', function () {
                 $("#CreateProjectForm").dialog({
                     autoOpen: true,
                     position: { my: "center", at: "top+350", of: window },
                     width: 500,
                     resizable: false,
                     title: 'Create a project',
                     modal: true,
                     open: function () {
                         $(this).load('@Url.Action("CreateProjectPartial", "Project")');
                     },
                     buttons: {
                         "Create a Project": function () {
                             CreateAProject();
                             $(this).dialog("close");
                         },
                         Cancel: function () {
                             $(this).dialog("close");
                         }
                     },
                     close: function(event, ui){
                         setTimeout(function () { $("#projectList").load(location.href + " #projectList>*", ""); }, 500);
                     }
                 });
                 return false;
             });
 
             function CreateAProject() {
                $.ajax({
                     url: '@Url.Action("CreateProject", "Project")',
                     type: 'POST',
                     data: $("#myForm").serialize(),
                     success: function (data) {
                         if (data) {
                             $(':input', '#myForm')
                             .not(':button, :submit, :reset, :hidden')
                             .val('')
                             .removeAttr('checked')
                             .removeAttr('selected');
                         }
                     }
                 });
             }
 
         });
 
     </script>
}

