@model List<CodingDocs.Models.ViewModels.ProjectViewModel>

@{
    ViewBag.Title = "My Projects";
}

<link href="~/Content/Homepage.css" rel="stylesheet" type="text/css">

<div class="myAndShare">
    <div class="btn-group">
        <button type="button" class="btn btn-primary">My Projects</button>
        <button type="button" class="btn btn-default btnHover" onclick="location.href='@Url.Action("SharedProjects", "Project")'">Shared Projects</button>
    </div>
</div>

<div class="row bottom30">
    <div class="col-md-12">
        @Html.ActionLink("Create a project", "CreateProject", null ,new { @class= "btn btn-default pull-right btnHover" })
    </div>
</div>

<div id="myProjects">
    @foreach (var proj in Model.OrderBy(proj => proj.Name))
    {
        <div class="col-sm-4">
            <div class="panel panel-default projectList">
                <a href="@Url.Action("ViewProject", "Project",  new { id = proj.ID })" title="Coding Docs"><img src="~/Content/images/mappa.png" hight="220" width="200" alt="meppa" /></a>
                <br />
                <label class="folderName">@Html.ActionLink(proj.Name, "ViewProject", new { id = proj.ID })</label>
                <br />
                @Html.ActionLink("Delete", "DeleteProject", new { id = proj.ID }, new { style = "color:red", onclick = "return confirm('Are you sure you wish to delete this project?');" })
            </div>
        </div>
    }
</div>