@model CodingDocs.Models.ViewModels.ViewProjectViewModel

@{
    ViewBag.Title = Model.Name;
}

<style type="text/css" media="screen">
    #editor {
        position: relative;
        height: 300px;
    }
</style>


<h2>@Model.Name</h2>

<p>@Model.Type</p>

<div id="file-list">
    @foreach (var file in Model.Files)
    {
        <button data-fileId="@file.ID">@file.Name</button>
        <li>@(file.Name + "." + file.Type + " ")</li>@Html.ActionLink("Delete", "DeleteFile", new { id = file.ID }, new { style = "color:red" })
    }
</div>

<label class="folderName">@Html.ActionLink("New File", "CreateFile", new { id = Model.ID })</label>

<br />

@Html.ActionLink("Share Project", "InviteUser", new { id = Model.ID })

@if(Model.UserName.Any())
{
    <h3>Users In Project</h3>
}
<ul>
    @foreach (var user in Model.UserName)
    {
        <li>@(user + " ")</li>
    }
</ul>


<div id="editor">
    enginn file valinn
</div>



@section scripts{
    <script src="~/Ace/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("~/Ace/src/theme-monokai.js");
        editor.getSession().setMode("~/Ace/src/mode-javascript.js");


        $("button").click(function () {
            var fileId = $(this).attr('data-fileId').toString();
            $.ajax({
                url: '@Url.Action("GetContent", "Project")',
                data: {"id":fileId},
                type: "GET",
                success: function (result) {
                    var res = result.toString();
                    editor.setValue(res);
                    editor.renderer.updateFull();
                }
            });
        });

    </script>
}

