@model CodingDocs.Models.ViewModels.ViewProjectViewModel

@{
    ViewBag.Title = Model.Name;
}

@Html.ActionLink("Share Project", "InviteUser", new { id = Model.ID })

<h2>@Model.Name</h2>

<p>@Model.Type</p>

<ul>
    @foreach (var file in Model.Files)
    {
        <li>@(file.Name + "." + file.Type + " ")</li>@Html.ActionLink("Delete", "DeleteFile", new { id = file.ID }, new { style = "color:red" })
    }
</ul>

<label class="folderName">@Html.ActionLink("New File", "CreateFile", new { id = Model.ID })</label>

@if(Model.UserName.Any())
{
    <h3>Users In Project</h3>
}
<ul>
    @foreach (var user in Model.UserName)
    {
        <li>@(user + " ")</li>
    }
</ul>