@model CodingDocs.Models.ViewModels.ViewProjectViewModel

@{
    ViewBag.Title = Model.Name;
}

<h1>@Model.Name</h1>

<div class="container-fluid">
    <h3>Files</h3>
    <div class="row">
        <div class="col-sm-3 col-lg-2">
            <nav class="navbar navbar-default navbar-fixed-side">
                @foreach (var file in Model.Files)
                {
                    @Html.ActionLink(file.Name, "GetFile", new { id = file.ID })
                    <br />
                }
            </nav>
        </div>
    </div>
</div>

<label class="folderName">@Html.ActionLink("New File", "CreateFile", new { id = Model.ID })</label>

<br />

@Html.ActionLink("Share Project", "InviteUser", new { id = Model.ID })

<div>
<h3>Project Owner</h3>
    <div> @Model.OwnerName</div>

    @if(Model.UserName.Any())
    {
        <h3>Users In Project</h3>
    }
    <ul>
        @foreach (var user in Model.UserName)
        {
            <li>@(user + " ")</li>
        }
    </ul>
</div>