@model CodingDocs.Models.ViewModels.ViewProjectViewModel

@{
    ViewBag.Title = Model.Name;
}

<link href="~/Content/Homepage.css" rel="stylesheet" type="text/css">

<h1>@Model.Name</h1>


<section id="myprojectForm">
    @foreach (var file in Model.Files.OrderBy(file => file.Name))
    {
        <div class="col-sm-2 textOutside">
            <div class="panel panel-default">
                <img src="~/Content/images/maFile.png" class="maFile"> <br />
                @Html.ActionLink(file.Name + "." + file.Type, "GetFile", new { id = file.ID})
                <br />
            </div>
        </div>
    }
</section>






<button class="Create-File">Create a new file</button>
<div id="CreateFileForm"></div>


<label class="folderName">@Html.ActionLink("New File", "CreateFile", new { id = Model.ID })</label>

<br />

@Html.ActionLink("Share Project", "InviteUser", new { id = Model.ID })

<div>
<h3>Project Owner</h3>
    <div> @Model.OwnerName</div>

    @if(Model.UserName.Any())
    {
        <h3>Users In Project</h3>
    }
    <ul>
        @foreach (var user in Model.UserName)
        {
            <li>@(user + " ")</li>
        }
    </ul>
</div>

@section Scripts{
    
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<script>

        $(function () {
            $("#CreateFileForm").dialog({
                autoOpen: false
            });
            
            $('.Create-File').on('click', function () {
                $("#CreateFileForm").dialog({
                    autoOpen: true,
                    position: { my: "center", at: "top+350", of: window },
                    width: 1000,
                    resizable: false,
                    title: 'Create a file',
                    modal: true,
                    open: function () {
                        $(this).load('@Url.Action("CreateFilePartial", "Project", new {id=Model.ID})');
                    },
                    buttons: {
                        "Create a File": function () {
                            CreateFile();
                            $(this).dialog("close");
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function () {
                        setTimeout(function () { $("#fileList").load(location.href + " #fileList>*", ""); }, 500);
                        
                        
                    }
                });
                return false;
            });

            function CreateFile() {
                $.ajax({
                    url: '@Url.Action("CreateFile","Project")',
                    type: 'POST',
                    data: $("#myForm").serialize(),
                    success: function (data) {
                        if (data) {
                            $(':input', '#myForm')
                            .not(':button, :submit, :reset, :hidden')
                            .val('')
                            .removeAttr('checked')
                            .removeAttr('selected');
                        }
                    }
                });
            }

        });
</script>    
}