@model CodingDocs.Models.ViewModels.ViewProjectViewModel

@{
    ViewBag.Title = Model.Name;
}

<link href="~/Content/Project.css" rel="stylesheet" type="text/css">

    <h1>@Model.Name</h1>

<div class="container-fluid">
    <h3>File </h3>
    <div class="row">
        <div class="col-sm-3 col-lg-2">
            <nav class="navbar navbar-default navbar-fixed-side" id="fileList">
                @foreach (var file in Model.Files)
                {
                    @Html.ActionLink(file.Name, "GetFile", new { id = file.ID })
                    <br />
                }
            </nav>
        </div>
    </div>
</div>


<button class="Create-File">Create a new file</button>
<div id="CreateFileForm"></div>


<label class="folderName">@Html.ActionLink("New File", "CreateFile", new { id = Model.ID })</label>

<br />

<button class="Share-Project">Share Project</button>
<div id="InviteUserForm"></div>

@Html.ActionLink("Share Project", "InviteUser", new { id = Model.ID })


<div>
<h3>Project Owner</h3>
    <div> @Model.OwnerName</div>
    <div id="UserList">
    @if(Model.UserName.Any())
    {
        <h3>Users In Project</h3>
    }
    <ul>
        @foreach (var user in Model.UserName)
        {
            <li>@(user + " ")</li>
        }
    </ul>
    </div>
</div>

@section Scripts{
    
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

<link rel="stylesheet" href="~/Content/jquery-ui.css" />
<script>

        $(function () {
            $("#CreateFileForm").dialog({
                autoOpen: false
            });
            
            $('.Create-File').on('click', function () {
                $("#CreateFileForm").dialog({
                    autoOpen: true,
                    position: { my: "center", at: "top+350", of: window },
                    width: 440,
                    resizable: false,
                    title: 'Create a file',
                    modal: true,
                    open: function () {
                        $(this).load('@Url.Action("CreateFilePartial", "Project", new {id=Model.ID})');
                    },
                    buttons: {
                        "Create a File": function () {
                            CreateFile();
                            $(this).dialog("close");
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function () {
                        setTimeout(function () { $("#fileList").load(location.href + " #fileList>*", ""); }, 500);
                        
                        
                    }
                });
                return false;
            });

            function CreateFile() {
                $.ajax({
                    url: '@Url.Action("CreateFile","Project")',
                    type: 'POST',
                    data: $("#myForm").serialize(),
                    success: function (data) {
                        if (data) {
                            $(':input', '#myForm')
                            .not(':button, :submit, :reset, :hidden')
                            .val('')
                            .removeAttr('checked')
                            .removeAttr('selected');
                        }
                    }
                });
            }




            $('.Share-Project').on('click', function () {
                $("#InviteUserForm").dialog({
                    autoOpen: true,
                    position: { my: "center", at: "top+350", of: window },
                    width: 400,
                    resizable: false,
                    title: 'Invite user to your project',
                    modal: true,
                    open: function () {
                        $(this).load('@Url.Action("InviteUserPartial", "Project", new {id=Model.ID})');
                    },
                    buttons: {
                        "Invite user": function () {
                            InviteUser();
                            $(this).dialog("close");
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function () {
                        setTimeout(function () { $("#UserList").load(location.href + " #UserList>*", ""); }, 500);


                    }
                });
                return false;
            });

            function InviteUser() {
                $.ajax({
                    url: '@Url.Action("InviteUser", "Project")',
                    type: 'POST',
                    data: $("#myForm").serialize(),
                    success: function (data) {
                        if (data) {
                            $(':input', '#myForm')
                            .not(':button, :submit, :reset, :hidden')
                            .val('')
                            .removeAttr('checked')
                            .removeAttr('selected');
                        }
                    }
                });
            }

        });
</script>    
}